@font-face {
  font-family: 'reg';
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bold';
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  width: auto;
  overflow-x: hidden;
  color: #000;
  font-family: "reg", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: scrollbar;
}

a, a:hover, a:active, a:link, a:focus, input:focus, button:focus {
  text-decoration: none;
  outline: none;
}

ol, ul {
  list-style: none;
  font-size: 16px;
}

div, span, article, nav, section, main, header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  padding: 10px 15px;
}

input[type="text"], input[type="tel"], input[type="submit"], button {
  -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus, button:focus {
  outline: none;
}

h1, h2, h3, h4, h5 {
  width: 100%;
  font-family: "bold", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 760px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

div.title {
  font-size: 24px;
  font-family: "bold", sans-serif;
  width: 100%;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 200px;
  min-height: 50px;
  font-family: "bold", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9700ff;
  border-radius: 10px;
  color: #fff;
  border: none;
  font-size: 16px;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button:hover {
  background-color: #ca7dff;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-bot {
  background-image: url(../img/bg-head.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
  margin-bottom: 30px;
}

.header-bot a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-bot a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-bot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-bot-wrap-cart a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.header-bot-wrap-cart a img {
  margin-right: 10px;
}

.header-bot-wrap-cart a span {
  padding: 0 10px;
  font-size: 18px;
  font-family: "bold", sans-serif;
}

.header-bot-wrap-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-bot-wrap-adress a:last-child {
  padding-left: 20px;
}

.header-bot-wrap-adress a {
  color: #fff;
  padding: 1px 0;
  font-size: 14px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bot-wrap-adress a img {
  margin-right: 10px;
}

.header-bot-wrap-logo a img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.header-bot-wrap-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-bot-wrap-menu ul li a {
  color: #fff;
  padding: 0 6px;
  font-size: 14px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-bot-wrap-menu ul li a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-right a {
  padding: 0 5px;
  color: #000;
}

.header-top-right a:first-child {
  position: relative;
  padding-left: 15px;
}

.header-top-right a:first-child:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 10px;
  width: 10px;
  background-image: url(../img/icons/lc-head.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-left ul:first-child {
  margin-right: 20px;
}

.header-top-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-top-left ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top-left ul li a {
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5px;
  font-size: 14px;
}

.offer-wrap-item {
  position: relative;
}

.offer-wrap-item a img {
  width: 100%;
  height: auto;
}

.offer-wrap-item-text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
}

.offer-wrap-item-text h1 {
  font-size: 34px;
  max-width: 400px;
  line-height: 35px;
}

.offer-wrap-item-text p {
  font-size: 14px;
  margin: 15px 0 20px 0;
  font-family: "bold", sans-serif;
}

.features {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.features-wrap div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-wrap div img {
  margin-right: 15px;
}

.rec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding: 50px 0;
}

.rec div.title-rec {
  position: absolute;
  top: 46px;
  left: 20px;
  font-size: 30px;
  font-family: "reg", sans-serif;
  width: 100%;
  color: #4b4b4b;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-bottom: 15px;
}

.rec-left {
  max-width: 70%;
  margin-top: 43px;
}

.rec-left ul.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rec-left ul.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rec-left ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  border: none;
  margin: 0 3px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding: 0;
  background-color: #dbdbdb;
  cursor: pointer;
}

.rec-left ul.slick-dots li.slick-active button {
  background-color: #c6c6c6;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
}

.rec-left-item {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(119, 139, 185, 0.31);
          box-shadow: 0px 0px 17px 0px rgba(119, 139, 185, 0.31);
  background-color: #fff;
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.rec-left-item:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.rec-left-item img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.rec-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30%;
}

.rec-right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rec-right-wrap input, .rec-right-wrap textarea {
  width: 280px;
  border-radius: 10px;
  max-height: 120px;
  max-width: 280px;
  margin: 10px 0;
  border: 1px solid #c6c6c6;
}

.rec-right-wrap div {
  max-width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.rec-right-wrap div p {
  font-size: 12px;
}

.rec-right-wrap div input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 0;
}

.rec-right-wrap div.title {
  font-size: 30px;
  font-family: "reg", sans-serif;
  width: 100%;
  color: #4b4b4b;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-bottom: 15px;
}

.catalog {
  padding: 0 20px 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.catalog div.title {
  font-size: 30px;
  font-family: "reg", sans-serif;
  width: 100%;
  color: #4b4b4b;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-bottom: 15px;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 30px;
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  cursor: pointer;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 10px;
}

.catalog-item img {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 10px;
}

.catalog-item h3 {
  position: absolute;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-radius: 0 0 10px 10px;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 0px 27px 0px rgba(119, 139, 185, 0.31);
          box-shadow: 0px 0px 27px 0px rgba(119, 139, 185, 0.31);
}

.catalog-item:hover h3 {
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 27px 0px rgba(119, 139, 185, 0.31);
          box-shadow: 0px 0px 27px 0px rgba(119, 139, 185, 0.31);
}

.feed {
  padding-bottom: 50px;
}

.feed div.title {
  font-size: 30px;
  font-family: "reg", sans-serif;
  width: 100%;
  color: #4b4b4b;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-bottom: 15px;
}

.feed-wrap-slider button.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0;
  border: none;
  background-color: transparent;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  height: 25px;
  width: 15px;
  cursor: pointer;
}

.feed-wrap-slider button.slick-prev {
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  left: -30px;
}

.feed-wrap-slider button.slick-next {
  right: -30px;
  -webkit-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}

.feed-wrap-slider ul.slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed-wrap-slider ul.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feed-wrap-slider ul.slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  border: none;
  margin: 0 3px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  padding: 0;
  background-color: #dbdbdb;
  cursor: pointer;
}

.feed-wrap-slider ul.slick-dots li.slick-active button {
  background-color: #c6c6c6;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.34);
}

.feed-wrap-slider-item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 20px;
}

.feed-wrap-slider-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background: #b600ff;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 10;
}

.feed-wrap-slider-item p:after {
  position: absolute;
  content: '';
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
  background-image: url(../img/icons/feed.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 40px;
  z-index: 1;
}

.feed-wrap-slider-item img {
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  width: 100%;
  margin-right: 30px;
}

.contacts {
  padding: 50px 0 70px 0;
}

.contacts a {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.contacts a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contacts div.title {
  font-size: 30px;
  font-family: "reg", sans-serif;
  width: 100%;
  color: #4b4b4b;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0;
  padding-bottom: 15px;
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 25.74px 0.26px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 0px 25.74px 0.26px rgba(0, 0, 0, 0.14);
}

.contacts-wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.contacts-wrap-left p {
  margin: 10px 0;
}

.contacts-wrap-left b {
  margin: 15px 0;
  font-size: 16px;
}

.contacts-wrap-left a {
  font-size: 18px;
  font-family: "bold", sans-serif;
  color: #000;
  margin: 10px 0;
}

.contacts-wrap-left-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.contacts-wrap-left-social a {
  margin: 0 5px;
}

.contacts-wrap-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px;
}

.contacts-wrap-right iframe {
  width: 100%;
}

.footer {
  background-color: #d9d9d9;
  padding: 30px 0 20px 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-wrap ul li a {
  color: #000;
  padding: 0 5px;
}

.burger {
  position: fixed;
  right: 20px;
  top: 20px;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #9700ff;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
  border: 1px solid #9700ff;
  border-radius: 50%;
  z-index: 40;
  cursor: pointer;
}

.burger span {
  position: absolute;
  height: 2px;
  width: 25px;
  top: 10px;
  background-color: #ffffff;
  left: 6px;
  border-radius: 5px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.burger span:nth-child(2) {
  top: 18px;
}

.burger span:nth-child(3) {
  top: 26px;
}

.burger-active span:nth-child(1) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 18px;
  opacity: 0;
}

.burger-active span:nth-child(2) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 18px;
}

.burger-active span:nth-child(3) {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 18px;
}

.catalog-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.catalog-button a {
  max-width: 300px;
}

@media (max-width: 1199px) {
  .rec-left-item {
    margin: 15px;
    padding: 20px;
  }
  .header-bot-wrap-logo a img {
    max-width: 220px;
  }
}

@media (max-width: 992px) {
  .contacts-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-wrap-left {
    max-width: 100%;
    width: 100%;
  }
  .contacts-wrap-right {
    max-width: 100%;
    width: 100%;
  }
  .catalog-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .rec {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rec-right {
    max-width: 100%;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
  }
  .rec-left {
    max-width: 100%;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .rec-left ul.slick-dots {
    bottom: -30px;
  }
  .offer-wrap-item-text {
    right: 0;
    max-width: 300px;
    top: 150px;
  }
  .features {
    margin-top: 0;
    padding-bottom: 0;
  }
  .header-bot {
    margin-bottom: 0;
  }
  .offer {
    padding: 0 !important;
    margin: 0 !important;
    min-width: 100% !important;
  }
  .header-bot-wrap {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 60px;
  }
  .header-bot-wrap-cart {
    position: fixed;
    right: 20px;
    top: 80px;
    background-color: #fff;
    font-size: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
    z-index: 50;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7px;
  }
  .header-bot-wrap-cart a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-bot-wrap-cart img {
    margin-right: 0;
    z-index: 90;
  }
  .header-bot-wrap-cart span {
    color: #000;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: #fff;
    z-index: 40;
    border-radius: 20px;
  }
  .header-bot-wrap-cart a img {
    margin-right: 0;
  }
  .header-bot-wrap-menu {
    position: fixed;
    background-color: #fff;
    z-index: 30;
    top: 0;
    left: 0;
    display: none;
    width: 90vw;
    padding: 30px 20px;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
            box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.28);
    border-radius: 0 0 10px 0;
    height: 90vh;
  }
  .header-bot-wrap-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-bot-wrap-menu ul li a {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    font-size: 16px;
  }
  .header-top {
    position: fixed;
    z-index: 33;
    bottom: 15%;
    left: 0px;
    display: none;
    min-width: 90vw;
    padding: 0;
    padding-top: 20px;
    border-top: 2px solid #9700ff;
  }
  .header-top-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
  }
  .header-top-right {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 20px;
    margin-top: 15px;
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .header-bot-wrap-menu {
    min-width: 80vw;
    max-width: 80vw;
  }
  .header-top {
    min-width: 80vw;
    max-width: 80vw;
  }
  .features-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-wrap div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 20px;
  }
  .rec {
    padding-top: 0;
  }
  .rec div.title-rec {
    top: 20px;
  }
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-wrap ul {
    margin-bottom: 20px;
  }
}

@media (max-width: 578px) {
  .contacts-wrap-right iframe {
    max-height: 250px;
  }
  .footer-wrap ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts {
    max-width: 92%;
  }
  .contacts-wrap {
    max-width: 100%;
  }
  .header-bot-wrap-logo a img {
    max-width: 180px;
  }
  .header-bot-wrap-logo img {
    max-width: 150px;
  }
  .header-bot-wrap {
    padding: 10px 0;
    padding-right: 80px;
  }
  .header-bot-wrap-adress a {
    font-size: 12px;
  }
  .header-top-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-top-left ul:first-child {
    margin-bottom: 16px;
  }
  .offer-wrap-item a img {
    min-width: 600px;
    overflow: hidden;
  }
  .offer-wrap-item-text {
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-height: 100%;
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 15px;
  }
  .offer-wrap-item-text h1 {
    text-align: center;
    color: #fff;
  }
  .offer-wrap-item-text p {
    color: #fff;
    text-align: center;
  }
}

@media (max-width: 440px) {
  .header-bot-wrap-logo a img {
    max-width: 150px;
  }
  .rec-right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .catalog-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .feed-wrap-slider-item img {
    max-width: 60px;
  }
  .feed-wrap-slider-item p {
    font-size: 11px;
    line-height: 13px;
  }
  .contacts-wrap {
    padding: 0;
  }
}

@media (max-width: 368px) {
  .header-bot-wrap-adress a {
    font-size: 10px;
  }
  .header-bot-wrap-logo a img {
    max-width: 120px;
  }
  .header-top-left ul:first-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 360px) {
  body {
    background-color: #fff;
  }
}
/*# sourceMappingURL=main.css.map */